<section id='meet'>
    <h2>Serhan meets Cemre</h2>
    <p>They meet at Turkcell Technology, as interns.</p>
    <h5>Date: 10 Jul 2012</h5>
  </section>
  <section id='firstkiss'>
    <h2>First Kiss</h2>
    <p>First Kiss was on those stairs</p>
    <h5>Date: 16 Aug 2012</h5>
  </section>
  <section id='firstdate'>
    <h2>First Date</h2>
    <p>Their first date was at Ada Cafe Bookstore/Bistro.</p>
    <img src="http://graphics8.nytimes.com/packages/images/photo/2010/02/07/20100207ISTANBUL/32595028.JPG" width="300px">
    <h5>Date: 20 Aug 2012</h5>
  </section>
  <section id='lastbreakfast'>
    <h2>Last Breakfast Before Cemre Leaves</h2>
    <p>They had their last breakfast at Kahve Dunyasi before Cemre leaves to Ankara</p>
    <h5>Date: 31 Aug 2012</h5>
    <small class='colophon'>
      <h5>To be continued..</h5>
    </small>
  </section>